language: php

php:
  - 7.1

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE cdsp_test;'

before_script:
  - cp .env.travis .env
  - composer self-update
  - composer install --no-interaction
  - php artisan key:generate
  - php artisan migrate --seed

script:
  - phpunit
  - vendor/bin/phpcs